{{- if not .Values.existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pocket-id.fullname" . }}-config
data:
  {{- if or .Values.ingress.enabled .Values.httpRoute.enabled -}}
  {{- if not .Values.appUrl  }}
  {{- required "appUrl needs to be set if using an ingress or httproute" .Values.config.appUrl }}
  {{- end }}
  {{- end }}    
  {{- $minimal := dict 
          "appUrl" (printf "https://%s" .Values.appUrl) 
          "fileBackend" ( .Values.blobBackend )
          "trustProxy" "true" 
  -}}
  {{- if .Values.securityContext.runAsUser -}}
  {{- $_ := set $minimal "puid" .Values.securityContext.runAsUser -}}
  {{- end -}}
  {{- if .Values.securityContext.runAsGroup -}}
  {{- $_ := set $minimal "pgid" .Values.securityContext.runAsGroup -}}
  {{- end -}}
  {{- $combined := merge $minimal .Values.config -}}
  {{- range $key := keys $combined | sortAlpha }}
  {{ $key | snakecase | upper }}: {{ get $combined $key | quote }}
  {{- end }}
{{- end }}
