name: Release

on:
  push:
    branches:
      - main

permissions:
  packages: write
  contents: read

env:
  REGISTRY: ghcr.io
  CHART_REPO: charts

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Version
        id: version
        uses: mikefarah/yq@master
        with:
          cmd: yq -r .version Chart.yaml

      - name: Push Helm chart
        env:
          VERSION: ${{ steps.version.outputs.result }}
        run: |
          REPOSITORY_OWNER_LC=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          helm package . --version $VERSION --dependency-update
          helm push pocket-id-${VERSION}.tgz oci://${{ env.REGISTRY }}/${REPOSITORY_OWNER_LC}/${{ env.CHART_REPO }}
